<template>
  <div id="login">
    <LarCognitoLogin
      :cognito-username-attribute="AuthConfig.usernameAttribute"
      @loading="loading"
      @loginDone="loginDone"
      @loginError="loginError"
    />
  </div>
</template>

<style scoped>
#login {
    --lar-text-color: #000;
}
</style>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';
import { LarCognitoLogin } from '@larva.io/webcomponents-cognito-login-vue';
import AuthConfig from '@/config/auth';

@Component({
  components: {
    LarCognitoLogin,
  },
})
export default class Login extends ComponentBase {
  private AuthConfig = AuthConfig;

  // eslint-disable-next-line class-methods-use-this
  private async loginError(data: CustomEvent) {
    // eslint-disable-next-line no-alert
    alert(`Login Error: ${data.detail}`);
  }

  private async loading(e: CustomEvent) {
    if (Boolean(e.detail) === true) {
      await this.setLoading();
    } else {
      await this.loadingDone();
    }
  }

  private loginDone() {
    console.warn('Logged in successfuly');
    this.$router.replace('/');
  }
}
</script>
