<template>
  <h1>Error 404</h1>
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';

@Component({})
export default class Error404 extends ComponentBase {
}
</script>
