<template>
  <h1>Logged in successfuly</h1>
  <router-link :to="{ path: '/admin' }">I am logged in as admin</router-link>
  <br />
  <router-link :to="{ path: '/tenant' }">I am logged in as tenant or co-tenant</router-link>
  <br />
  <br />
  <a href="#" @click.prevent="logout">Logout</a>
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';

@Component({})
export default class Login extends ComponentBase {
  async created() {
    // here we should request from Bidrento am I admin or do i have a Agreement
    const token = await this.http.getAccessToken();
    if (!token) {
      this.logout();
    }
  }
}
</script>
