<template>
  <Grid mode="lg" class="favorites">
    <component
      v-for="opt in uiconfigFavorites"
      :is="opt.node?.type"
      :key="opt.node?.id"
      :icon="opt.ui?.icon"
      :ref="opt.node?.id"
      :id="opt.node?.id"
      :main-title="opt.ui?.name"
      :sup-title="opt.ui?.room?.name"
      :sub-title="opt.ui?.category?.name"
      :node-id="opt.node?.id"
      :log="opt.ui?.log"
      :allow-indication-auto-coloring="true"
      :allow-node-auto-coloring="true"
      color="primary"
      color-inputs="secondary"
      :color-modal="opt.node?.type === 'lar-rtsp-h264-mjpeg' ? theme : 'primary'"
      color-icon-small="primary"
      @output="connection.handleNodeOutput"
      @request="connection.handleNodeRequest"
      :hideTitles="true"
    />
  </Grid>
  <Grid>
    <component
      v-for="opt in uiconfig"
      :is="opt.node?.type"
      :key="opt.node?.id"
      :icon="opt.ui?.icon"
      :ref="opt.node?.id"
      :id="opt.node?.id"
      :main-title="opt.ui?.name"
      :sup-title="opt.ui?.room?.name"
      :sub-title="opt.ui?.category?.name"
      :node-id="opt.node?.id"
      :log="opt.ui?.log"
      :allow-indication-auto-coloring="true"
      :allow-node-auto-coloring="true"
      color="primary"
      color-inputs="secondary"
      :color-modal="opt.node?.type === 'lar-rtsp-h264-mjpeg' ? theme : 'primary'"
      color-icon-small="primary"
      @output="connection.handleNodeOutput"
      @request="connection.handleNodeRequest"
    />
  </Grid>
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import * as LarvaComponents from '@larva.io/webcomponents-vue';
import GeneralConfig from '@/config/general';
import { Device } from '@larva.io/clouddevice';
import Grid from './grid.vue';
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const { i18n, ...LarvaComponentsList } = LarvaComponents;

export interface LarHTMLElement extends HTMLElement {
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  input(data: any): void;
}

@Component({
  components: {
    Grid,
    ...LarvaComponentsList,
  },
  props: {
    deviceId: {
      type: String,
      required: true,
    },
    unitId: {
      type: String,
      required: true,
    },
  },
})
export default class DeviceConnection extends ComponentBase {
  private deviceId!: string;

  private unitId!: string;

  private connection?: Device;

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private uiconfig: any[] = [];

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private uiconfigFavorites: any[] = [];

  // eslint-disable-next-line class-methods-use-this
  public async beforeMount() {
    this.close = this.close.bind(this);
    try {
      await this.setLoading();
      const server = GeneralConfig.deviceProxy;
      const timeout = GeneralConfig.deviceTimeout;
      this.connection = new Device(this.deviceId, this.unitId, this.http.getAccessToken, { server, timeout });
      this.connection.addEventListener('broadcast', DeviceConnection.handleBroadcast);
      this.connection.addEventListener('closed', this.close);
      await this.connection.open();
      const deviceUINodes = (await this.connection.getUINodes())
        .filter((e) => !!e.ui?.visible)
      // sort by rating
        .sort((a, b) => parseInt(b.ui?.rating, 10) - parseInt(a.ui?.rating, 10));
      this.uiconfig = deviceUINodes.filter((e) => !(e.ui?.favorite));
      this.uiconfigFavorites = deviceUINodes.filter((e) => !!(e.ui?.favorite));
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }

  // eslint-disable-next-line class-methods-use-this
  public async beforeUnmount() {
    this.close();
  }

  private async close() {
    this.uiconfigFavorites = [];
    this.uiconfig = [];
    if (this.connection) {
      this.connection.removeEventListener('broadcast', DeviceConnection.handleBroadcast);
      this.connection.removeEventListener('closed', this.close);
      await this.connection.close();
      this.connection = undefined;
    }
  }

  static handleBroadcast(event: CustomEvent) {
    const detail = event.detail || {};
    const nodeId = detail.evt;
    const payload = detail.payload || {};
    if (!nodeId) {
      return;
    }
    const node = document.getElementById(nodeId) as LarHTMLElement;
    if (node && node.input) {
      node.input(payload.data);
    }
  }
}
</script>
