<template>
  <div class="grid" :class="{ 'lg': mode === 'lg', 'sm': mode === 'sm' }">
      <slot />
  </div>
</template>

<style lang="scss">
.grid {
  display: grid;
}
.grid.sm {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 50%));
}
.gird.lg {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 100%));
}
@media only screen and (min-width: 768px)  {
  .grid.sm {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 33.33%));
  }
  .grid.lg {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 50%));
  }
}
@media only screen and (min-width: 1000px)  {
  .grid.sm {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 25%));
  }
  .grid.lg {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 50%));
  }
}
.grid > div {
  margin: .8rem;
}
</style>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';
import { PropType } from 'vue';

@Component({
  props: {
    mode: {
      type: String as PropType<'sm'|'lg'>,
      required: false,
      default: 'sm',
    },
  },
})
export default class extends ComponentBase {}
</script>
