<template>
 <ul>
   <li v-for="unit of units" :key="unit.id">
    <router-link :to="{ name: 'tenant.agreement.unit', params: { id: unit.id, agreementUUID }}">{{unit.name}}</router-link>
   </li>
 </ul>
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import GeneralConf from '@/config/general';

export interface Unit {
  id: string,
  name: string,
}

@Component({
  props: {
    agreementUUID: {
      type: String,
      required: true,
    },
  },
})
export default class PolicyUnits extends ComponentBase {
  private agreementUUID!: string;

  private units: Unit[] = [];

  public async created() {
    this.getUnits();
    this.$watch('agreementUUID', this.getUnits);
  }

  private async getUnits() {
    try {
      await this.setLoading();
      // @TODO: pagination
      const usersRsp = await this.axios.get(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/units`);
      this.units = usersRsp.data?.data || [];
    } catch (err) {
      this.units = [];
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }
}
</script>
