<template>
  <LarCognitoConfig
    :cognitoRegion="AuthConfig.region"
    :cognitoPoolId="AuthConfig.userPoolId"
    :cognitoClientId="AuthConfig.userPoolWebClientId"
    :storageType="AuthConfig.storage"
  />
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';
import { LarCognitoConfig } from '@larva.io/webcomponents-cognito-login-vue';
import AuthConfig from '@/config/auth';

@Component({
  components: {
    LarCognitoConfig,
  },
  emits: ['on-ready'],
})
export default class AuthGuard extends ComponentBase {
  private AuthConfig = AuthConfig;

  async mounted() {
    // eslint-disable-next-line no-undef
    const Cognito = document.querySelector('lar-cognito-config') as HTMLLarCognitoConfigElement;
    const token = await Cognito.getAccessToken();
    if (!token) {
      await this.$router.replace({ name: 'auth.login' });
    }
    this.$emit('on-ready');
  }
}
</script>
