<template>
  Bidrento Agreement UUID: <input type="text" v-model="agreementUUIDInternal" /><button type="button" @click="updateAgreement">Show</button>
  <div v-if="agreementUUID">
    <br />
    <br />
    <h2>Policy users</h2>
    <PolicyUsers :agreementUUID="agreementUUID" />
    <h2>Policy Cards</h2>
    <PolicyCards :agreementUUID="agreementUUID" />
    <h2>Units</h2>
    <PolicyUnits :agreementUUID="agreementUUID" />
  </div>
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';
import PolicyUsers from '../../access-policy/components/users.vue';
import PolicyCards from '../../access-policy/components/cards.vue';
import PolicyUnits from '../components/units.vue';

@Component({
  components: {
    PolicyUsers,
    PolicyCards,
    PolicyUnits,
  },
})
export default class TenantHome extends ComponentBase {
  private agreementUUIDInternal = '497f452f-5b6c-41cb-91a5-af120f45074b';

  private agreementUUID = this.agreementUUIDInternal;

  // eslint-disable-next-line class-methods-use-this
  public created() {
    // @NOTE: here we should request Bidrento Agreement UUID from Bidrento API using current user
  }

  private updateAgreement() {
    this.agreementUUID = this.agreementUUIDInternal;
  }
}
</script>
