<template>
<LarApp>
  <Device :deviceId="device.id" :unitId="unitId" v-for="device of devices" :key="device.id" />
</LarApp>
</template>
<style scoped>
.lar-app {
  min-height: calc(100vh - 100px);
  overflow: scroll;
}
</style>
<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import { LarApp } from '@larva.io/webcomponents-vue';
import GeneralConf from '@/config/general';
import Device from '../../device/components/device.vue';

@Component({
  components: {
    Device,
    LarApp,
  },
})
export default class TenantHome extends ComponentBase {
  private unitId: string | null = null;

  private agreementUUID: string | null = null;

  private devices: any[] = [];

  public created() {
    this.unitId = this.$route.params.id as string;
    this.agreementUUID = this.$route.params.agreementUUID as string;
    this.getDevices();
  }

  private async getDevices() {
    try {
      await this.setLoading();
      // @TODO: pagination
      const usersRsp = await this.axios.get(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/units/${this.unitId}/devices`);
      this.devices = usersRsp.data?.data || [];
    } catch (err) {
      this.devices = [];
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }
}
</script>
