<template>
  <router-view />
  <br /><br />
  <a href="#" @click.prevent="logout">Logout</a>
  <br />
  <a href="#" v-if="hasHistory()" @click.prevent="$router.go(-1)">Back</a>
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';

@Component({})
export default class AdminLayout extends ComponentBase {
  // eslint-disable-next-line class-methods-use-this
  private hasHistory() {
    return window.history.length > 2;
  }
}
</script>
