<template>
  <h1>Admin Agreement
    <template v-if="agreement">
      {{agreement.name}}
    </template>
  </h1>
  <span v-if="agreement">{{agreement.activationStart}} - {{agreement.activationEnd}}</span> <br />
  <button @click="disableAgreement(agreement.externalId)" v-if="agreement && agreement.enabled === true">Disable</button>
  <button @click="enableAgreement(agreement.externalId)" v-if="agreement && agreement.enabled === false">Enable</button>
  <br /><br />
  <h2>Policy Users</h2>
  <PolicyUsers :agreementUUID="agreement.externalId" v-if="agreement" />
  <h2>Policy Cards</h2>
  <PolicyCards :agreementUUID="agreement.externalId" v-if="agreement" />
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import GeneralConf from '@/config/general';
import PolicyUsers from '../../access-policy/components/users.vue';
import PolicyCards from '../../access-policy/components/cards.vue';

@Component({
  components: {
    PolicyUsers,
    PolicyCards,
  },
})
export default class Agreements extends ComponentBase {
  private agreement = null;

  public async created() {
    const agreementBidrentoUUID = this.$route.params.id as string;
    this.getAgreement(agreementBidrentoUUID);
  }

  private async getAgreement(externalId: string) {
    try {
      await this.setLoading();
      // @TODO: pagination
      const agreementsRsp = await this.axios.get(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${externalId}`); // @NOTE: externalId => UUID from bidreento, agreement UUID
      this.agreement = agreementsRsp.data || {};
    } catch (err) {
      console.error(err);
      alert(err.messaage);
    } finally {
      await this.loadingDone();
    }
  }

  private async disableAgreement(externalId: string) {
    try {
      await this.setLoading();
      await this.axios.post(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${externalId}/disable`);
    } catch (err) {
      console.error(err);
      alert(err.messaage);
    } finally {
      await this.loadingDone();
      this.getAgreement(externalId);
    }
  }

  private async enableAgreement(externalId: string) {
    try {
      await this.setLoading();
      await this.axios.post(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${externalId}/enable`);
    } catch (err) {
      console.error(err);
      alert(err.messaage);
    } finally {
      await this.loadingDone();
      this.getAgreement(externalId);
    }
  }
}
</script>
