<template>
  <h1>Admin Agreements page</h1>
  <ul>
    <li v-for="agreement in agreements" :key="agreement.id">
      <router-link :to="{ name: 'admin.agreement', params: { id: agreement.externalId }}">
        {{agreement.name}}
      </router-link>
    </li>
  </ul>
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import GeneralConf from '@/config/general';

@Component({})
export default class Agreements extends ComponentBase {
  private agreements = [];

  public async created() {
    try {
      await this.setLoading();
      const agreementsRsp = await this.axios.get(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies`); // @NOTE: agreements => access-policies, those should be asked from Bidrento API by Bidrento Admmin user
      this.agreements = agreementsRsp.data?.data || [];
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }
}
</script>
