<template>
  <h1>Admin</h1>
  <router-link :to="{ path: '/admin/pages/agreements' }">Agreements</router-link>
  <br />
  <router-link :to="{ path: '/admin/pages/logs' }">Logs</router-link>
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';

@Component({})
export default class Logs extends ComponentBase {

}
</script>
