<template>
  <h1>Admin Logs page</h1>
  <table>
    <tr v-for="log of logs" :key="log.id">
        <td>{{log.qualify}}</td>
        <td>{{log.date}}</td>
        <td>{{getLogLevel(log.code)}}</td>
        <td>{{getEventGroup(log.code)}}</td>
        <td>{{getEventMessage(log.code)}}</td>
        <td><pre>{{ JSON.stringify(log.data, null, 2) }}</pre></td>
        <td><span v-if="log.associations.accessGroupUser">{{ [log.associations.accessGroupUser.firstname, log.associations.accessGroupUser.lastname].join(' ') }}</span></td>
        <td><span v-if="log.associations.unit">{{ log.associations.unit.name }}</span></td>
    </tr>
  </table>
</template>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';
import { getLogLevel, getEventMessage, getEventGroup } from '@larva.io/report-definitions';

@Component({})
export default class Logs extends ComponentBase {
  private logs: any[] = [];

  private getLogLevel = getLogLevel;

  private getEventMessage = getEventMessage;

  private getEventGroup = getEventGroup

  public async created() {
    this.getLogs();
  }

  private async getLogs() {
    try {
      await this.setLoading();
      const logsRsp = await this.axios.get('logs', {
        params: {
          sort: ['date,DESC'],
          limit: 10000,
          offset: 0,
          join: ['associations', 'associations.accessGroupUser', 'associations.device', 'associations.unit'],
        },
      });
      this.logs = logsRsp.data.data || [];
    } catch (err) {
      console.error(err);
      // eslint-disable-next-line no-alert
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }
}
</script>
