<template>
  <AuthGuard @onReady="() => authGuardReady = true" />
  <router-view v-if="authGuardReady" />
</template>

<style lang="scss">
  @import '@/assets/app.scss';
</style>

<script lang="ts">
import { Component, ComponentBase } from '@/component-base';
import AuthGuard from '@/modules/auth/components/auth-guard.vue';

@Component({
  components: {
    AuthGuard,
  },
})
export default class App extends ComponentBase {
  private authGuardReady = false;

  protected async logout() {
    return super.logout();
  }
}
</script>
