<template>
 <h2>Cards</h2>
 <ul>
   <li v-for="card of cards" :key="card.id">
     {{card.firstname}}  {{card.lastname}} {{card.email}} {{card.phone}}<br />
     <a href="#" @click.prevent="deleteCard(card)">Delete</a>
   </li>
 </ul>
 <h2>Add Card</h2>
 <NewCardForm @submit="createCard" ref="newCardForm" />
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import GeneralConf from '@/config/general';
import NewCardForm from './new-card-form.vue';

export interface Card {
  id: string,
  orgId: string,
  externalId?: string;
  firstname: string;
  lastname: string;
  secondLastname?: string;
  title?: string;
  email?: string;
  phone?: string;
  pin: 'SET' | 'UNSET';
}

@Component({
  components: {
    NewCardForm,
  },
  props: {
    agreementUUID: {
      type: String,
      required: true,
    },
  },
})
export default class PolicyUsers extends ComponentBase {
  private agreementUUID!: string;

  private cards: Card[] = [];

  public $refs!: { newCardForm: NewCardForm };

  public async created() {
    this.getCards();
    this.$watch('agreementUUID', this.getCards);
  }

  private async getCards() {
    try {
      await this.setLoading();
      // @TODO: pagination
      const usersRsp = await this.axios.get(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/cards`);
      this.cards = usersRsp.data?.data || [];
    } catch (err) {
      this.cards = [];
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }

  private async deleteCard(card: Card) {
  // eslint-disable-next-line no-alert
    try {
      await this.setLoading();
      await this.axios.delete(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/cards/${card.id}`);
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
      await this.getCards();
    }
  }

  private async createCard(cardData: unknown) {
    try {
      await this.setLoading();
      const newUserRsp = await this.axios.post(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/cards`, cardData);
      this.$refs.newCardForm.clear();
      alert(`Card aadded. ${newUserRsp.data.pin ? `Pin:${newUserRsp.data.pin}` : ''}`);
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
      await this.getCards();
    }
  }
}
</script>
