<template>
  <form @submit.prevent="submit">
    Cloud user: <input type="checkbox" v-model="user.cloud" />
    <input type="text" placeholder="UUID" v-if="user.cloud === true" v-model="user.id" /><br />
    <input type="text" placeholder="First name" v-model="user.firstname" /><br />
    <input type="text" placeholder="Last name" v-model="user.lastname" /><br />
    <input type="text" placeholder="Phone" v-model="user.phone" /><br />
    <input type="text" placeholder="E-mail" v-model="user.email" /><br />
      Pin: <input type="radio" v-model="user.pin" value="GENERATE"> Generate
           <input type="radio" v-model="user.pin" value="UNSET"> Unset
           <input type="radio" v-model="user.pin" value="MANUAL"> <input type="text" v-model="manualPin" /><br />

    <input type="submit" value="Add User" />
  </form>
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';

@Component({
  emits: ['submit'],
})
export default class NewUserForm extends ComponentBase {
  private user: {[key: string]: unknown} = {};

  private manualPin = '';

  created() {
    this.clear();
  }

  private submit() {
    this.$emit('submit', {
      ...this.user,
      pin: this.user.pin === 'MANUAL' ? Number(this.manualPin) : this.user.pin,
    });
  }

  public clear() {
    this.user = {
      cloud: false,
      firstname: '',
      lastname: '',
      phone: '',
      email: '',
      pin: 'GENERATE',
    };
  }
}
</script>
