<template>
  <form @submit.prevent="submit">
    <input type="text" placeholder="Card ID" v-model="card.card" /><br />
    <input type="text" placeholder="First name" v-model="card.firstname" /><br />
    <input type="text" placeholder="Last name" v-model="card.lastname" /><br />
    <input type="text" placeholder="Phone" v-model="card.phone" /><br />
    <input type="text" placeholder="E-mail" v-model="card.email" /><br />
      Pin: <input type="radio" v-model="card.pin" value="GENERATE"> Generate
           <input type="radio" v-model="card.pin" value="UNSET"> Unset
           <input type="radio" v-model="card.pin" value="MANUAL"> <input type="text" v-model="manualPin" /><br />

    <input type="submit" value="Add card" />
  </form>
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';

@Component({
  emits: ['submit'],
})
export default class NewCardForm extends ComponentBase {
  private card: {[key: string]: unknown} = {};

  private manualPin = '';

  created() {
    this.clear();
  }

  private submit() {
    this.$emit('submit', {
      ...this.card,
      pin: this.card.pin === 'MANUAL' ? Number(this.manualPin) : this.card.pin,
    });
  }

  public clear() {
    this.card = {
      card: '',
      firstname: '',
      lastname: '',
      phone: '',
      email: '',
      pin: 'GENERATE',
    };
  }
}
</script>
