<template>
 <h2>Users</h2>
 <ul>
   <li v-for="user of users" :key="user.id">
     {{user.firstname}}  {{user.lastname}} {{user.email}} {{user.phone}} {{user.accessPolicyRole}}<br />
     <a href="#" @click.prevent="deleteUser(user)">Delete</a>
     <template v-if="user.pin === 'SET'"> | <a href="#" @click.prevent="sendSMS(user)">Send PIN SMS</a> | <a href="#" @click.prevent="sendEmail(user)">Send PIN e-mail</a></template>
   </li>
 </ul>
 <h2>Add User</h2>
 <NewUserForm @submit="createUser" ref="newUserForm" />
</template>

<script lang="ts">
/* eslint-disable no-alert */
import { Component, ComponentBase } from '@/component-base';
import GeneralConf from '@/config/general';
import NewUserForm from './new-user-form.vue';

export interface User {
  id: string,
  cloud: boolean,
  orgId: string,
  externalId?: string; // bidrento ID
  firstname: string;
  lastname: string;
  secondLastname?: string;
  title?: string;
  email?: string;
  phone?: string;
  pin: 'SET' | 'UNSET';
  accessPolicyRole: 'user' | 'master';
}

@Component({
  components: {
    NewUserForm,
  },
  props: {
    agreementUUID: {
      type: String,
      required: true,
    },
  },
})
export default class PolicyUsers extends ComponentBase {
  private agreementUUID!: string;

  private users: User[] = [];

  public $refs!: { newUserForm: NewUserForm };

  public async created() {
    this.getUsers();
    this.$watch('agreementUUID', this.getUsers);
  }

  private async getUsers() {
    try {
      await this.setLoading();
      // @TODO: pagination
      const usersRsp = await this.axios.get(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/users`);
      this.users = usersRsp.data?.data || [];
    } catch (err) {
      this.users = [];
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }

  private async deleteUser(user: User) {
  // eslint-disable-next-line no-alert
    try {
      await this.setLoading();
      await this.axios.delete(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/users/${user.id}`);
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
      await this.getUsers();
    }
  }

  private async sendSMS(user: User) {
  // eslint-disable-next-line no-alert
    const phone = prompt('Please enter phone with country code (eg. +3725555555)', user.phone || '');
    try {
      await this.setLoading();
      await this.axios.post(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/users/${user.id}/send-sms`, { phone });
      alert('sent');
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }

  private async sendEmail(user: User) {
  // eslint-disable-next-line no-alert
    const email = prompt('Please enter email', user.email || '');
    try {
      await this.setLoading();
      await this.axios.post(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/users/${user.id}/send-email`, { email });
      alert('sent');
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
    }
  }

  // @NOTE: you should create cloud users to bidrnto API sa tenants or co-tenants, so users can access your app as well..
  // if you create agreement tenant or co-tennat user, user will be automatically synced
  private async createUser(userData: unknown) {
    try {
      await this.setLoading();
      const newUserRsp = await this.axios.post(`services/connections/${GeneralConf.serviceConnectionExternalId}/access-policies/${this.agreementUUID}/users`, userData);
      this.$refs.newUserForm.clear();
      alert(`User aadded. ${newUserRsp.data.pin ? `Pin:${newUserRsp.data.pin}` : ''}`);
    } catch (err) {
      console.error(err);
      alert(err.message);
    } finally {
      await this.loadingDone();
      await this.getUsers();
    }
  }
}
</script>
